/* Обнуляючий стиль */

@import "null.css";

body {
	background: url(../img/image.jpg) no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}
.title {
	font-weight: 900;
	font-size: 50px;
	color: rebeccapurple;
	margin: 20px 0;
	text-decoration: underline;
}
.menu {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 50px;
}
.link {
	display: inline-block;
	color: yellowgreen;
	background-color: turquoise;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}
.link::before {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link::after {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link2 {
	display: inline-block;
	color: rosybrown;
	background-color: royalblue;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}
.link2::before {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link2::after {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link3 {
	display: inline-block;
	color: tan;
	background-color: teal;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}
.link3::before {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link3::after {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link4 {
	display: inline-block;
	color: thistle;
	background-color: yellow;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
}

.link4::before {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.link4::after {
	content: "";
	display: inline-block;
	background: url(../img/check.png) 0 5px no-repeat;
	width: 20px;
	height: 20px;
}
.block .text {
	color: indianred;
	font-size: 20px;
	background-color: indigo;
	border-radius: 10px;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
}
.block .text :hover {
	background-color: ivory;
	border-radius: 10px;
	box-shadow: 0 5px 0 5px black;
}
img {
	display: block;
	width: 500px;
	margin: 0 auto;
	border-radius: 50px;
	border: dashed 20px olive;
}
.block-2 {
	font-size: 20px;
	color: olivedrab;
	background-color: orange;
	margin-top: 20px;
	border-radius: 40px;
	width: 500px;
	margin: 0 auto;
}
.button {
	display: block;
	font-size: 30px;
	color: orangered;
	background-color: orchid;
	padding: 5px;
	width: 200px;
	margin: 0 auto;
	border-radius: 30px;
}
.button :active {
	display: block;
	background-color: palegoldenrod;
	width: 200px;
	border-radius: 30px;
	padding: 5px;
}
.button-2 {
	display: block;
	background-color: paleturquoise;
	color: palevioletred;
	width: 200px;
	font-size: 30px;
	padding: 5px;
	border-radius: 30px;
	margin: 0 auto;
}
.button-3 {
	width: 200px;
	margin: 0 auto;
	font-size: 30px;
	pointer-events: none;
	background-color: darkblue;
	color: darkcyan;
	padding: 20px;
	border-radius: 10px;
}
.button-2 :visited {
	color: papayawhip;
}
.now {
}
.now-text {
	font-size: 20px;
	color: plum;
	background-color: peru;
	width: 500px;
	margin: 0 auto;
	border-radius: 20px;
}
.now :hover {
	background-color: pink;
}
.now-form {
	font-size: 50px;
}
.now-form :hover {
	background-color: peachpuff;
}
.now-form :focus {
	background-color: powderblue;
}
.types {
	font-size: 20px;
	color: purple;
}
.types-text {
	background-color: aliceblue;
}
.types-list li {
	background: url(../img/check.png) 0 0 no-repeat;
	background-color: antiquewhite;
	text-align: left;
	padding-left: 20px;
}
.types-list :hover {
	background-color: aquamarine;
}
span {
	background-color: aqua;
}
.electro {
	font-size: 20px;
	color: saddlebrown;
	background-color: salmon;
}
.electro p {
	margin: 0 0 20px 0;
}
.electro p:not(:last-child) {
	margin: 0 0 20px 0;
}
.electro :first-of-type {
	background-color: seagreen;
}
.electro :last-child {
	background-color: seashell;
}
.electro :nth-child(2) {
	background-color: sandybrown;
}
.odd-even {
	font-size: 30px;
	color: sienna;
	background-color: silver;
	text-align: left;
}
.odd-even p:nth-child(odd) {
	background-color: skyblue;
}
.odd-even p:nth-child(even) {
	background-color: slateblue;
}
.odd-even ::first-line {
	color: slategray;
}
.odd-even ::first-letter {
	color: snow;
}
